LocalDongle/Service References/DongleServer/dongleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dongleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dongleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="loginResponse" nillable="true" type="tns:loginResponse" />
</xs:schema>