LocalDongle/Service References/DongleServer/DongleService.Structs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DongleService.Structs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DongleService.Structs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="UID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="ArrayOfSMSObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMSObject" nillable="true" type="tns:SMSObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMSObject" nillable="true" type="tns:ArrayOfSMSObject" />
  <xs:complexType name="SMSObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSObject" nillable="true" type="tns:SMSObject" />
  <xs:complexType name="ExecuteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResponse" nillable="true" type="tns:ExecuteResponse" />
</xs:schema>