LocalDongle/Service References/DongleServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DongleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_DongleServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DongleService.Structs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DongleServiceContract_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_getIncomingSms_InputMessage">
    <wsdl:part name="parameters" element="tns:getIncomingSms" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_getIncomingSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIncomingSmsResponse" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_addNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewUser" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_addNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_updatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePassword" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_updatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_sendSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:sendSMS" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_sendSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_setComId_InputMessage">
    <wsdl:part name="parameters" element="tns:setComId" />
  </wsdl:message>
  <wsdl:message name="DongleServiceContract_setComId_OutputMessage">
    <wsdl:part name="parameters" element="tns:setComIdResponse" />
  </wsdl:message>
  <wsdl:portType name="DongleServiceContract">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/DongleServiceContract/login" message="tns:DongleServiceContract_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DongleServiceContract/loginResponse" message="tns:DongleServiceContract_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIncomingSms">
      <wsdl:input wsaw:Action="http://tempuri.org/DongleServiceContract/getIncomingSms" message="tns:DongleServiceContract_getIncomingSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DongleServiceContract/getIncomingSmsResponse" message="tns:DongleServiceContract_getIncomingSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DongleServiceContract/addNewUser" message="tns:DongleServiceContract_addNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DongleServiceContract/addNewUserResponse" message="tns:DongleServiceContract_addNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/DongleServiceContract/updatePassword" message="tns:DongleServiceContract_updatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DongleServiceContract/updatePasswordResponse" message="tns:DongleServiceContract_updatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/DongleServiceContract/sendSMS" message="tns:DongleServiceContract_sendSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DongleServiceContract/sendSMSResponse" message="tns:DongleServiceContract_sendSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setComId">
      <wsdl:input wsaw:Action="http://tempuri.org/DongleServiceContract/setComId" message="tns:DongleServiceContract_setComId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DongleServiceContract/setComIdResponse" message="tns:DongleServiceContract_setComId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_DongleServiceContract" type="tns:DongleServiceContract">
    <wsp:PolicyReference URI="#NetTcpBinding_DongleServiceContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/DongleServiceContract/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIncomingSms">
      <soap12:operation soapAction="http://tempuri.org/DongleServiceContract/getIncomingSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <soap12:operation soapAction="http://tempuri.org/DongleServiceContract/addNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <soap12:operation soapAction="http://tempuri.org/DongleServiceContract/updatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <soap12:operation soapAction="http://tempuri.org/DongleServiceContract/sendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setComId">
      <soap12:operation soapAction="http://tempuri.org/DongleServiceContract/setComId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DongleService">
    <wsdl:port name="NetTcpBinding_DongleServiceContract" binding="tns:NetTcpBinding_DongleServiceContract">
      <soap12:address location="net.tcp://localhost:8523/dongleService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/dongleService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>