LocalDongle/Service References/DongleServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DongleService.Structs" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DongleService.Structs" minOccurs="0" name="loginResult" nillable="true" type="q1:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DongleService.Structs" minOccurs="0" name="addNewUserResult" nillable="true" type="q2:ExecuteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DongleService.Structs" minOccurs="0" name="updatePasswordResult" nillable="true" type="q3:ExecuteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderId" type="xs:long" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messsage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DongleService.Structs" minOccurs="0" name="sendSMSResult" nillable="true" type="q4:ExecuteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGroupSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderId" type="xs:long" />
        <xs:element minOccurs="0" name="groupId" type="xs:long" />
        <xs:element minOccurs="0" name="messsage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGroupSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DongleService.Structs" minOccurs="0" name="sendGroupSMSResult" nillable="true" type="q5:ExecuteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="getAllGroupsResult" nillable="true" type="q6:ArrayOfKeyValuePairOflongstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DongleService.Structs" minOccurs="0" name="getUserInfoResult" nillable="true" type="q7:UserObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>